html
  head
    link(rel="stylesheet" type="text/css" href="index.css") 
    title Artero
  body
    div(id="menu")
      ul(id="ul-menu")
        li(id="logo")
          a Artero
        li
          a(href="/") Home
        li(class="current")
          a(href="/arts") Arts
        li
          a(href="/form") Register
    div(id="body")
      h1 Items
      div(id="card")
        div(id="img")
          img(src="img/1.jpeg" width="100px")
        div(id="right") Bid for: 
          div(id="price") $45 
          br 
          span Before: 
          div(id="timeleft") 16th July 10pm 
          br
          button(class="green") Place Order
