html
  head
    link(rel="stylesheet" type="text/css" href="index.css")
    title Artero
  body
    div(id="menu")
      ul(id="ul-menu")
        li(id="logo")
          a Artero
        li
          a(href="/") Home
        li
          a(href="/arts") Arts
        li(class="current")
          a(href="/form") Register
    div(id="form")
      if message
        div(class=[message.type, 'message']) 
          span= message.message
      h1 Register an account
      form(method="post" action="/api/user/register")
        label(for="username") Username:
        br
        input(type="text" id="username" name="username")
        br
        br
        label(for="emailid") Email:
        br
        input(type="text" id="emailid" name="emailid")
        br
        br
        label(for="password") Password:
        br
        input(type="password" id="password" name="password")
        br
        br
        label(for="phoneno") Contact Number
        br
        input(type="number" id="phoneno" name="phoneno")
        br
        br
        label(for="address") Address
        br
        input(type="text" id="address" name="address")
        br
        br
        label(for="lname") Pincode
        br
        input(type="number" id="lname" name="lname")
        br
        br
        label(for="cardno") Bank Card Number
        br
        input(type="number" id="cardno" name="cardno")
        br
        br
        label(for="ccv") CCV
        br
        input(type="number" id="ccv" name="ccv" maxlength="3")
        br
        br
        label(for="expirydate") Expiry Date
        br
        input(type="date" id="expirydate" name="expirydate")
        br
        br
        button(type="submit") Submit 
        button(type="reset" id="reset") Reset
