html
  head
    link(rel="stylesheet" type="text/css" href="index.css")
    title Artero
  body
    div(id="menu")
      ul(id="ul-menu")
        li(id="logo")
          a Artero
        li(class="current")
          a(href="/") Home
        li
          a(href="/arts") Arts
        li
          a(href="/form") Register
    div(id="form")
      if message
        div(class=[message.type, 'message']) 
          span= message.message
      h1 Log In
      form(method="post" action="/api/user/login")
        label(for="username") Username:
        br
        input(type="text" id="username" name="username")
        br
        br
        label(for="password") Password:
        br
        input(type="password" id="password" name="password" class="password")
        br
        br
        button(type="submit") Submit 
        button(type="reset" id="reset") Reset
