@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

button {
	padding:10px 20px;
	background:white;
	border:2px solid black;
	border-radius:0;
	margin-right: 10;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background: black;
	transition: background 0.8s;
	color: white;
}

#logo {
	text-transform: lowercase;
	padding-top: 15px;
}

.message {
	width: 30%;
	padding: 15px 10px;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 30px;
}

.error {
	background: red;
}

.success {
	background: green;
}

#logo a {
	font-size: 1.8em;
	font-family: serif;
 }

* {
	padding: 0;
	margin: 0;
	font-family: Inter;
}

#form {
	margin:20px;
}

#menu {
width:100%;
background:#FF5733;
color:white;
padding-bottom: 18px;
top: 0;
left: 0;
position: sticky;
display: inline-block;
}

#ul-menu li {
display:inline;
vertical-align: center;
font-size:20px;
padding: 20px 25px;
}

#ul-menu li.current {
	background: #ff0007;
}

a {
 text-decoration:none;
color:white;
}

#card {
box-shadow:1px 1px 2px gray;
margin-right:20px;
background:#FFDD33;
padding:20px;
width:400px;
height:200px;}

#img {float:left;
width:50%;
}

#left {
float:left;
margin-left:20px;
}
#price {
font-size:35px;
color:brown;}

#timeleft {
 color:rgb(82, 54, 4);}

.green {
	background:#40D834;
	border-radius:5em;
color:white;
font-weight:bold;
width:150px;
	border:0px;
}

#form {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
}

#body {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

#form h1, #body h1 {
	margin-bottom: 25px;
}

input {
	padding: 10px 5px;
	width: 300px;
}

.password {
	margin-bottom: 25px;
}

#reset {
	float: right;
}